# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
      - This paper is about the process of tidying messy data sets in order to analyze them in an effective way.
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
      - It is supposed to clean the data to a point that allows for easy initial analysis of the data.
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
      - This sentence means that when a dataset is tidy, it is easy to work with, like other tidy datasets, but each messy dataset differs from another as to why it is "messy" or what is keeping it from being tidy. This is explaining the difficulty in creating a 'one-size-fits-all' process of data cleaning.
      - The secodn sentence means that you can determine what can be classified as a variable and what is classified as an observation, but it is more difficult to decide how to reformat the dataset in a tidy manner that puts the most important of the observations the rows rather than a column with the variables.
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
      - Values: numbers or strings that belong to a avriable and an observation
      - Variables: a set of values that are measuring the same attribute
      - Observations: a set of values made on the same unit
  5. How is "Tidy Data" defined in section 2.3?
      - Tidy Data is a set where: every variable is a column, every observation is a row, and every type of observational unit forms a table.
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
      - The 5 most common problems with messy datasets are: 
          - Column headers are values instead of variable names
          - Multiple variables are stored in one column
          - Variables are stored in both rows and columns
          - Multiple types of observational units are stored in the same table
          - A single observational unit is stored in multiple tables
      - The data in table 4 is messy because variables are stored in both rows and columns.
      - Melting a dataset is converting columns to rows so that the previous matrix-like data table is more uniform.
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
      - Table 11 is messy because it has variables in individual columns spread across rows and columns, so there are columns that will inherently have missing values (like day 31 for some months), opposed to table 12 where the date is one variable with unique values.
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?
      - "if tidy data is only as useful as the tools that work with it, then tidy tools will be inextricably linked to tidy data"
      - Wickham hopes that people will develop better tools and data storage strategies from his framework.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
    - I chose to remove the separator (,) in order for the coercsion to a numeric value to generate no missing values. Without this step, all listings above 999 dollars are marked as missing after the price variable is converted to numeric.
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
    - I chose to change the name of the variable from 'Type' to 'Attack Type' to make it more understandable because when I first saw the variable name, I was confused as to what the type could be referring to. I also chose to consolidate the values to fall under 3 different categories: Provoked, Unprovoked, and Unconfirmed. I beleive this encompasses the "type" of shark attack, whether it was provoked or not (or unknown).
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)
    - I chose to clean the variable by changing the missing values in order to convert the variable to a numeric format. This was done by crosstabulating with the `SentenceTypeAllChargesAtConvictionInContactEvent` variable and determining when the sentence length was actually equal to 0 rather than having a null value.

In [43]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

**Q2.1**

In [44]:
df = pd.read_csv('./data/airbnb_hw.csv', low_memory = False)
df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [45]:
var = 'Price'
print('Before coercion: \n', df[var].describe(),'\n')

Before coercion:
 count     30478
unique      511
top         150
freq       1481
Name: Price, dtype: object

In [47]:
pattern = ","
replacement = ""
df[var] = df[var].str.replace(pattern, replacement)

In [48]:
df[var] = pd.to_numeric(df[var], errors='coerce')
df['price_nan'] = df[var].isnull()

print('After coercion: \n', df[var].describe(),'\n')
print('Total Missings: \n', sum(df['price_nan']),'\n')

After coercion:
 count    30478.000000
mean       163.589737
std        197.785454
min         10.000000
25%         80.000000
50%        125.000000
75%        195.000000
max      10000.000000
Name: Price, dtype: float64

Total Missings:
 0

**Q2.2**

In [72]:
df2 = pd.read_csv('./data/sharks.csv', low_memory = False)
df2.head()

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
var2 = 'Type'
print(df2[var2].unique(),'\n')

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

In [75]:
df2[var2] = df2[var2].replace('Questionable', 'Unconfirmed')
df2[var2] = df2[var2].replace('Invalid', 'Unconfirmed')
df2[var2] = df2[var2].replace('Unverified', 'Unconfirmed')
df2[var2] = df2[var2].replace(np.nan, 'Unconfirmed')
df2[var2] = df2[var2].replace('Under investigation', 'Unconfirmed')
df2[var2] = df2[var2].replace('Sea Disaster', 'Unconfirmed')
df2[var2] = df2[var2].replace('Watercraft', 'Unconfirmed')
df2[var2] = df2[var2].replace('Boating', 'Unconfirmed')
df2[var2] = df2[var2].replace('Boat', 'Unconfirmed')
df2[var2] = df2[var2].replace('Boatomg', 'Unconfirmed')

print(df2[var2].unique())

['Unprovoked' 'Provoked' 'Unconfirmed']

In [76]:
df2 = df2.rename(columns= {'Type':'Attack Type'})

**Q2.3**

In [82]:
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
df3 = pd.read_csv(url,low_memory=False) 
df3.head()

,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,Defendant_IndigencyStatus,...,NewFelonySexualAssaultArrest_OffDate,NewFelonySexualAssaultArrest_ArrestDate,NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate,NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate,NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants
0,ADI00001,1,M,W,1986,31,3,31,99,99,...,,,,999,999,,4,1,0,Defendant could not be classified or tracked d...
1,ADI00007,3,M,B,1956,60,6,60,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
2,ADI00008,4,M,W,1990,27,3,27,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
3,CDI00036,6,M,B,1989,27,3,27,0,0,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
4,CDI00038,7,F,W,1988,28,3,28,0,0,...,,,,999,999,,0,1,1,New criminal offense punishable by incarcerati...

In [86]:
df3 = df3.rename(columns = {'WhetherDefendantWasReleasedPretrial':'Released'})

In [90]:
var3 = 'Released'
print(df3[var3].unique())

[9 0 1]

In [98]:
condition1 = (df3['Released'] == 9)
condition2 = (df3['Released'] == 0)
condition3 = (df3['Released'] == 1)

df3.loc[condition1, var3] = np.nan
df3.loc[condition2, var3] = 'No'
df3.loc[condition3, var3] = 'Yes'

print(df3[var3].unique())

[nan 'No' 'Yes']

**Q2.4**

In [101]:
var4 = 'ImposedSentenceAllChargeInContactEvent'
print(df3[var4].describe())
print(df3[var4].unique())

count     22986
unique      484
top
freq       9053
Name: ImposedSentenceAllChargeInContactEvent, dtype: object
[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']

In [102]:
df3[var4] = pd.to_numeric(df3[var4],errors='coerce') 
NA_vals = df3[var4].isnull() 
print( np.sum(NA_vals),'\n')

9053

In [103]:
var5 = 'SentenceTypeAllChargesAtConvictionInContactEvent'
print( pd.crosstab(NA_vals, df3[var5]), '\n')

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

In [104]:
df3[var4] = df3[var4].mask( df3[var5] == 4, 0) 
df3[var4] = df3[var4].mask( df3[var5] == 9, np.nan) 

NA_vals = df3[var4].isnull()
print( pd.crosstab(NA_vals, df3[var5]), '\n')
print( np.sum(NA_vals),'\n')

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274

In [105]:
df['ImposedSentenceAllChargeInContactEvent'] = df3[var4]